.image-container {
  width: 90vw;
  height: 85vh;
  overflow: hidden;
  margin-bottom: 5vh;
}

.project-container {
  border: 2px solid;
}

.project-details, .image-container {
  padding: 0px;
  margin: 0px;
}

img {
  height: 90%;
  widows: 90;
}

