.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-brand>img{
  height: 2rem;
  opacity: 0.5;
}

.show{
  background-color: #eee;
}

.nav-link:hover{
  cursor: pointer;
}

.content{
  padding: 0px,0px,8px,8px;
}
footer {

  text-align: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CCnavigate {
  margin-bottom: 100px;
  width: 100%;
  height: 10vh;
}

.CCcontent {
  padding-top: 11vh !important; /* 100px;*/
  padding-left: 3%;
  padding-right: 3%;
  min-height: 89vh;
  background-color: #eee;
}

.wSidebar{
  padding-left: 0;
}

.project-container{
  border: #282c34;
  border-style: solid;
}

.projectSummary{
  font:bold;
  font-size:180%;
  text-color:green;
}

.detailSummary{
  font:bold;
  font-size:130%;
  text-color:green;
}

.sidebar{
  height: 50px;
  padding-top: 50%;
  padding-right: 5%;
  position: sticky !important;
  overflow: auto;
}

.sidebutton{
  letter-spacing: 1px;
  font-weight: bold;
}

.sticky{
  color:red;
  position: sticky;
  position: -webkit-sticky;
  width: 100px;
  height: 100px;
  top: 20px;
  background-color: black;
}
.box{
  padding-top:10%;
  padding-bottom: 10%;
  overflow: auto;
  background-color: #eee;
  height: 700px;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

.CCfooter{
  position: absolute;
  bottom: 0px;
  z-index: 10;
}

.white{
  color: white;
}

.invisible{
  display: none
}

h1, h2{
  text-align: center;
}

.footer, .header {
  background-color: orange !important;
}

.project-summary {
  margin: 25px;
  padding-left: 10px;
  border: 2px;
  border-style: groove;
  max-width: 500px;
}

.centered-text {
  text-align: center;
  display: block;
}
