.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-brand>img{
    border-radius: 40%;
    opacity: 0.5;
}

.nav-link:hover{
  cursor: pointer;
}

.content{
  padding: 0px,0px,8px,8px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CCnavigate {
  margin-bottom: 100px;
  width: 100%;
}

.CCcontent {
  padding-top: 100px;
  padding-bottom: 520px;
  padding-left: 3%;
  padding-right: 3%;
}

.project-container{
  border: #282c34;
  border-style: solid;
}

.projectSummary{
  font:bold;
  font-size:180%;
  text-color:green;
}

.detailSummary{
  font:bold;
  font-size:130%;
  text-color:green;
}
.sidebar{
  position: relative;
  overflow: auto;
}

.CCfooter{
  z-index: 10;
}