body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row {
    clear: both;
    content: "";
    display: table;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .board-row:first-child{
    border-top:4px solid black;
  }

  .board-row:last-child{
    border-bottom:4px solid black;
  }

  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background:  rgb(27, 27, 25);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: grey;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .activeSquare{
    background:rgb(117, 168, 40);
  }

  .activeSquare:hover{
    font-size: 25px;
    background:rgb(34, 163, 29);
  }
  
  .square:first-child {
    border-left:4px solid black;
  }

  .square:last-child {
    border-right:4px solid black;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  span {
    padding: 5px;
  }